<p><%= _('Using OPRAmachine data in research? <a href="https://www.sciencedirect.com/science/article/pii/S2352340920311598">Cite the paper!</a>') %>
</p>
<p> "OPRA's clear purpose . . . is 'to maximize public knowledge about public affairs in order to ensure an informed citizenry and to minimize the evils inherent in a secluded process.'" Educ. Law Ctr. v. N.J. Dep't of Educ., 198 N.J. 274, 284 (2009)
  (quoting Mason v. City of Hoboken, 196 N.J. 51, 64 (2008)).
</p>
<p>Homepage illustration from 'Frag den Staat Animation Project' CC-BY Sam Muirhead (cameralibre.cc)</p>
<p>You may only use OPRAmachine in consideration of your acceptance of the <a href="https://opramachine.com/OPRAmachine_TOS.pdf">Terms of Service.</a> Please read them carefully before using OPRAmachine. </p> 
<p>Disclaimer: OPRAmachine’s mission is to give people easy and affordable access to New Jersey public records. OPRAmachine does not provide private investigator services or consumer reports, and is not a consumer reporting agency under the Fair Credit Reporting Act. You may not use our site or service or the information provided to make decisions about employment, admission, consumer credit, insurance, tenant screening or any other purpose that would require FCRA compliance.</p> 

